.popup__correct {
  max-width: 330px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 39px;
}

@media screen and (max-width: 660px) {
  .popup__correct {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    padding-top: 25px;
    padding-bottom: 60px;
  }
}
