/* .profile__add {
  background-image: url("../../../images/Add.Button.svg");
  background-size: cover;
  width: 22px;
  height: 22px;
  margin: auto;
} */

@media screen and (max-width: 660px) {
  .profile__add {
    width: 18px;
    height: 18px;
  }
}
