.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px 18px;
  row-gap: 16px;
  column-gap: 18px;
  grid-template-areas:
    "name pencil"
    "feature .";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 660px) {
  .profile__info {
    grid-template-columns: 189px 18px;
    grid-template-rows: 26px 14px;
    row-gap: 14px;
    column-gap: 10px;
  }
}
