.elements__container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 650px) {
  .elements__container {
    row-gap: 20px;
    column-gap: 0;
  }
}
