.popup__item {
  max-width: 358px;
  margin: 0 auto;
  padding: 0 0 30px 0;
  border: none;
}

.popup__item:last-of-type {
  padding-bottom: 48px;
}

@media screen and (max-width: 660px) {
  .popup__item {
    max-width: 238px;
  }
}

@media screen and (max-width: 660px) {
  .popup__item:last-of-type {
    padding-bottom: 45px;
  }
}
